/* Make the central content (.container) more narrow. Inspired by the
 * http://getbootstrap.com/examples/jumbotron-narrow example.
 */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Inside the component pane, components should have spacing in-between. */
.component-pane .component {
  margin-top: 40px;
}

.component h1 {
  font-size: 24px; /* The same as h2 */
  border-bottom: 1px solid rgb(238, 238, 238); /* the same as h1.page-header */
}
